<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <ul class="menu">
            <li><a href="/">Главная страница</a></li>
            <li><a href="/task">Просмотр задач</a></li>
            <li><a href="/rest">Через ajax</a></li>
            <li><a href="/add">Создать задачу</a></li>
            <li><a href="/auth">Авторизация</a></li>
	    </ul>
        <div class="content" id="content">