{{> header}}
<h1>{{h1}}</h1>
<form action="/add" method="POST">
    <textarea name="text"></textarea>
    <a href="/task"><button type="button">отмена</button></a>
    <button type="submit">создать</button>
</form>
{{> footer}}