<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <form action="/add" method="POST">
            <input type="text" name="text">
            <button type="submit">создать</button>
        </form>
        <a href="/task">отмена</a>
    </body>
</html>