{{> header}}
    <h1>{{h1}}</h1>
    <form action="/auth" method="POST">
        <input type="text" placeholder="Логин" name="login"><br>
        <input type="password" placeholder="Пароль" name="password"><br>
        <button type="submit">войти</button>
    </form>
{{> footer}}