{{> header}}
    <h1>{{h1}}</h1>
    <form action="/edit" method="POST">
        <input type="hidden" value="{{row.id}}" name="id">
        <textarea name="text">{{row.text}}</textarea>
        <input type='checkbox' name='done'>
        <span>отметить выполненным</span>
        <a href="/task"><button type="button">отмена</button></a>
        <button type="submit">сохранить</button>
    </form>
{{> footer}}