<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <ul class="menu">
            <li><a href="/">Главная страница</a></li>
            <li><a href="/task">Просмотр задач</a></li>
            <li><a href="/add">Создать задачу</a></li>
	    </ul>
        <div class="content">
            <form action="/update" method="POST">
                <input type="hidden" value="{{rows.id}}" name="id">
                <textarea name="text">{{rows.text}}</textarea>
                <input type='checkbox' name='done'>
                <span>отметить выполненным</span>
                <a href="/task"><button type="button">отмена</button></a>
                <button type="submit">сохранить</button>
            </form>
        </div>
    </body>
</html>