<!DOCTYPE html>
<html lang="ru">
    <head>
<<<<<<< HEAD
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
=======
        <meta charset="utf-8">
>>>>>>> 2a996d789f44eaebdb63a70d300278dfca6cded3
        <title>{{title}}</title>
    </head>
    <body>
        <form action="/" method="POST">
            <input type="text" name="site" placeholder="введите url сайта">
<<<<<<< HEAD
            <select name="count" value="сколько отображать шуточек">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
=======
>>>>>>> 2a996d789f44eaebdb63a70d300278dfca6cded3
            <button type="submit">go</button>
        </form>
    </body>
</html>