<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{title}}</title>
    </head>
    <body>
        <form action="/" method="POST">
            <label>Выберите сайт</label>
            <select name="site">
                 <option>https://news.yandex.ru/auto.html</option>
                 <option>http://ifindir.ru/blog/</option>
            </select><br>
            <label>Выберите количество новостей</label>
            <select name="count">
                <option>1</option>
                <option>5</option>
                <option>10</option>
            </select><br>
            <button type="submit">go</button>
        </form>
    </body>
</html>