<!DOCTYPE html>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 90cc4ebad10521b1c0779782162b494f2191c34a
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>{{item}}</body>
<<<<<<< HEAD
=======
=======
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Запрос на сайт:</h1>
        <h1>{{site}}</h1>
    </body>
>>>>>>> 2a996d789f44eaebdb63a70d300278dfca6cded3
>>>>>>> 90cc4ebad10521b1c0779782162b494f2191c34a
</html>